.new-cost__controls {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    text-align: left;
}

.new-cost__control label {
    font-weight: bold;
    margin-bottom: 20px;
    width: 50%;
}

.new-cost__control {
    width: 50%;
}

.new-cost__control input {
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    width: 95%;
}

.new-cost__actions {
    text-align: left;
}