.new-cost {
  background-color: #aac4da;
  padding: 20px;
  margin-left: 22px;
  margin-right: 22px;
  margin-bottom: 30px;
  border-radius: 10px;
  text-align: center;
}

.new-cost button {
  cursor: pointer;
  padding: 20px;
  border: 1px solid #cca030;
  background-color: #ecd190;
  border-radius: 8px;
  font-size: 22px;
  font-weight: bold;
}

.new-cost button:hover,
.new-cost button:active {
  background-color: #cca030;
}
