.new-cost {
  background-color: #1e1f1d;
  padding: 20px;
  margin-left: 22px;
  margin-right: 22px;
  margin-bottom: 30px;
  border-radius: 10px;
  text-align: center;
}

.new-cost button {
  cursor: pointer;
  padding: 20px;
  background-color: #e8cc8b;
  border-radius: 8px;
  font-size: 22px;
  font-weight: bold;
}

.new-cost button:hover,
.new-cost button:active {
  background-color: #e8cc8b;
}

@media (max-width: 580px) {
  .new-cost {
    padding: 10px;
    margin-bottom: 10px;
  }
}

@media (max-width: 580px) {
  .new-cost button {
    font-size: 18px;
    padding: 10px;
  }
}
