.cost-list {
    list-style: none;
    padding: 0;

}

.cost-list__text {
    text-align: center;
    font-size: 36px;
}


@media (max-width: 580px) {
    .cost-list__text {
        font-size: 22px;
    }
}