
.cost-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #e8cc8b;
    padding: 15px;    
    margin-bottom: 20px;
    font-size: 24px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
     
}

.cost-item__description {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    flex-flow: column-reverse;
    justify-content: flex-start;
    font-size: 24px;
    
}

.cost-item h2 {
    
    /* flex:1; */
    align-self: center;
    font-size: 26px;
   
}

.cost-item__price {    
    font-weight: bold;
    background-color: #1e1f1d;
    border: 1px solid white;   
    border-radius: 12px;
    padding: 10px;
    color: white;
    /* font-size: 24px; */
}



@media (max-width: 580px) {
    .cost-item h2 {
        font-size: 18px;
    }

    .cost-item {
        font-size: 18px;
    }

    .cost-date__day {
        font-size: 20px;
    }

    .cost-item__price {
        font-size: 18px;
    }

    
}


