.costs-filter {
    padding-top: 20px;
    padding-bottom: 20px;
}

.costs-filter__control {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 15px;
}

.costs-filter  label {
    font-weight: bold;
    margin-bottom: 15px;
    font-size: 30px;
}

.costs-filter select {
    font-size: 20px;
    border-radius: 7px;
    padding: 10px;
    width: 200px;
}


.select-css {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-image: url('../../../public/arrow.png');
    background-position: right center;
    background-repeat: no-repeat;
}



@media (max-width: 580px) {
    .costs-filter  label {
        font-size: 25px;
    }

    .costs-filter select {
        width: 90px;
    }

    .costs-filter {
        padding-top: 0px;
        padding-bottom: 0px;
    }


}


@media (max-width: 420px) {
    .costs-filter  label {
        font-size: 18px;
    }
}